{% extends "DrugBundle:Droguero:base.html.twig" %}

{#% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('drug_drogueros_index') }}">Drogueros</a></li>
        {% for place in stock.division.path %}
            <li class="breadcrumb-item">
                <a href="{{ path('drug_drogueros_division_show', {'droguero': place.droguero.id, 'division': place.id}) }}">
                    {{ place }}
                </a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active">{{ stock.droga.nombre }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-3">
            <div class="card">
                <img src="{{ path('drug_drogueros_stock_image', {'stock': stock.id }) }}"
                     alt="" class="card-img-top img-thumbnail"
                     style="width: 100%; max-width: 400px; max-height: 500px;"/>
            </div>
        </div>
        <div class="col col-md-9">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Información de Stock</h4>
                </div>
                <div class="card-block row-details">
                    <div class="row">
                        <div class="col col-sm-4">Sustancia:</div>
                        <div class="col col-sm-8">{{ stock.droga.nombre }} ({{ stock.droga.formulaMolecular }} )</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">Calidad:</div>
                        <div class="col col-sm-8">{{ stock.calidad.nombre }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">Cantidad:</div>
                        <div class="col col-sm-8">{{ stock.cantidad }} {{ stock.unidadMedida.sigla }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">Marca:</div>
                        <div class="col col-sm-8">{{ stock.marca }}</div>
                    </div>
                    {% if stock.fechaVencimiento %}
                        <div class="row">
                            <div class="col col-sm-4">Marca:</div>
                            <div class="col col-sm-8">{{ stock.fechaVencimiento | date("d/m/Y") }}</div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col col-sm-4">Lote:</div>
                        <div class="col col-sm-8">{{ stock.lote }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">Numero Interno:</div>
                        <div class="col col-sm-8">{{ stock.numeroInterno }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">Numero Envase:</div>
                        <div class="col col-sm-8">{{ stock.numeroEvnase }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">Numero de Producto:</div>
                        <div class="col col-sm-8">{{ stock.numeroProducto }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="display-4 text-center">Movimientos</div>
    <section id="cd-timeline" class="cd-container">
        {% for movimiento in stock.movimientos %}
            <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-warning text-white">
                    <i class="fa fa-circle"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>{{ movimiento.motivo.nombre }}</h2>
                    <p class="text-danger">{{ movimiento.cantidad }}</p>
                    {% if movimiento.comentario %}<p>{{ movimiento.comentario }}</p>{% endif %}
                    <span class="cd-date">{{ movimiento.desde | date("d/m/Y") }}</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

        {% endfor %}
    </section>
    </div>
    </div>
{% endblock %}