{% extends 'base.html.twig' %}

{% block body %}
    <h1>Drogas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Desechos</th>
                <th>Fichaseguridad</th>
                <th>Tipomedida</th>
                <th>Cid</th>
                <th>Nombre</th>
                <th>Formulamolecular</th>
                <th>Fechaingreso</th>
                <th>Densidad</th>
                <th>Accionesemergencia</th>
                <th>Cas</th>
                <th>Smiles</th>
                <th>Recalm</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for droga in drogas %}
            <tr>
                <td><a href="{{ path('droga_show', { 'id': droga.id }) }}">{{ droga.id }}</a></td>
                <td>{{ droga.desechos }}</td>
                <td>{{ droga.fichaSeguridad }}</td>
                <td>{{ droga.tipoMedida }}</td>
                <td>{{ droga.cid }}</td>
                <td>{{ droga.nombre }}</td>
                <td>{{ droga.formulaMolecular }}</td>
                <td>{% if droga.fechaIngreso %}{{ droga.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ droga.densidad }}</td>
                <td>{{ droga.accionesEmergencia }}</td>
                <td>{{ droga.cas }}</td>
                <td>{{ droga.smiles }}</td>
                <td>{% if droga.recAlm %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('droga_show', { 'id': droga.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('droga_edit', { 'id': droga.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('droga_new') }}">Create a new droga</a>
        </li>
    </ul>
{% endblock %}
