{% extends "SubstanceBundle:Droga:base.html.twig" %}
{% import "SubstanceBundle:Droga:tabs.html.twig" as tabs %}

{#% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Nueva Sustancia</h3>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#general" role="tab">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#clases" role="tab">Clases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#entidades" role="tab">Entidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sinonimos" role="tab">Sinónimos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ghs" role="tab">GHS</a>
                        </li>
                    </ul>
                </div>
                <form id="form" action="{{ path('sustancias_create') }}" method="post">
                    <div class="card-block tab-content">
                        <div class="tab-pane active" id="general" role="tabpanel">
                            {{ tabs.general(unidadesMedida) }}
                        </div>
                        <div class="tab-pane" id="clases" role="tabpanel">
                            {{ tabs.clases(clases) }}
                        </div>
                        <div class="tab-pane" id="entidades" role="tabpanel">
                            {{ tabs.entidades(entidades) }}
                        </div>
                        <div class="tab-pane" id="sinonimos" role="tabpanel">
                            {{ tabs.sinonimos(sinonimos) }}
                        </div>
                        <div class="tab-pane" id="ghs" role="tabpanel">
                            {{ tabs.ghs(ghs) }}
                        </div>
                    </div>

                    <div class="card-block text-right">
                        <a class="btn card-link" href="{{ path('sustancias_index') }}">Lista de Sustancias</a>
                        <button type="submit" class="btn btn-primary card-link">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
    <script>
        $.validator.addMethod("nonNumeric", function (value, element) {
            return this.optional(element) || isNaN(Number(value));
        });

        $('#form').validate({
            rules: {
                nombre: {
                    required: true,
                    nonNumeric: true,
                },
                formula: {
                    required: true,
                    nonNumeric: true,
                },
                cas: {
                    required: true,
                },
                densidad: {},
                recAlm: {},
                desechos: {},
                emergencias: {},
            },
            messages: {
                nombre: {
                    required: "Ingrese un nombre",
                    nonNumeric: "El nombre debe ser texto",
                },
                formula: {
                    required: "Ingrese una fórmula",
                    nonNumeric: "La fórmula es inválida",
                },
                cas: {
                    required: "Ingrese un número CAS",
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-warning');
                $(element).addClass('form-control-warning');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-warning');
                $(element).removeClass('form-control-warning');
                $(element).closest('.form-group').addClass('has-success');
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        })
    </script>
{% endblock %}