{% extends 'SubstanceBundle:Unidad:base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item active">Unidades de Medidas</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Lista de Unidades
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('unidades_medidas_new') }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Agregar
                </a>
            </div>
        </h4>
    </div>
    <div class="card-body">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Detalle</th>
                <th>Fecha de Ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for unidad in unidades %}
            <tr>
                <td>{{ unidad.sigla }}</td>
                <td>{{ unidad.detalle }}</td>
                <td>{{ unidad.fechaIngreso | date("d/m/Y") }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('unidades_medidas_edit', { 'id': unidad.id }) }}" class="btn btn-info"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
