{% extends 'SubstanceBundle:Unidad:base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Sustancias</li>
        <li class="breadcrumb-item active">Unidades de Medidas</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Lista de Unidades</h4>

    <table>
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Detalle</th>
                <th>Fecha de Ingreso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unidad in unidades %}
            <tr>
                <td>{{ unidad.sigla }}</td>
                <td>{{ unidad.detalle }}</td>
                <td>{{ unidad.fechaIngreso | date("d/m/Y") }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('unidades_medidas_show', { 'id': unidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('unidades_medidas_edit', { 'id': unidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unidades_new') }}">Create a new unidadMedida</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
