{% extends 'SubstanceBundle:Unidad:base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item"><a href="{{ path('unidades_medidas_index') }}">Unidades de Medidas</a></li>
        <li class="breadcrumb-item active">Nueva</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nueva Unidad</h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="btn btn-secondary" href="{{ path('unidades_medidas_index') }}">Lista de Unidades</a>
            <input class="btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
