{% extends 'SubstanceBundle:Unidad:base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item"><a href="{{ path('unidades_medidas_index') }}">Unidades de Medidas</a></li>
        <li class="breadcrumb-item active">{{ unidad.sigla }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Unidad de Medida</h4>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Sigla</th>
                    <td>{{ unidad.sigla }}</td>
                </tr>
                <tr>
                    <th>Detalle</th>
                    <td>{{ unidad.detalle }}</td>
                </tr>
                <tr>
                    <th>Fechaingreso</th>
                    <td>{{ unidad.fechaIngreso |date('d/m/Y H:i:s') }}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-secondary" href="{{ path('unidades_medidas_index') }}">Lista de Unidades</a>
            <a class="btn btn-info" href="{{ path('unidades_medidas_edit', { 'id': unidad.id }) }}">Editar</a>
        </div>
    </div>
{% endblock %}
