{% extends 'SubstanceBundle:Unidad:base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Sustancias</li>
        <li class="breadcrumb-item"><a href="{{ path('unidades_medidas_index') }}">Unidades de Medidas</a></li>
        <li class="breadcrumb-item active">{{ unidad.sigla }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Unidad de Medida</h4>

    <table>
        <tbody>
            <tr>
                <th>Sigla</th>
                <td>{{ unidad.sigla }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ unidad.detalle }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{{ unidad.fechaIngreso |date('d/m/Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unidades_medidas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('unidades_medidas_edit', { 'id': unidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
