{% extends 'proveedor/base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('proveedores_provider_index') }}">Proveedores</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nuevo Proveedor</h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="card-link btn" href="{{ path('proveedores_provider_index') }}">Lista de Proveedores</a>
            <input  class="btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
