{% extends 'SubstanceBundle:Sinonimo:base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item"><a href="{{ path('sinonimo_index') }}">Sinónimos</a></li>
        <li class="breadcrumb-item"><a href="{{ path('sinonimo_show', { 'id': sinonimo.id }) }}">{{ sinonimo.nombre }}</a></li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Editar Sinonimo</h4>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <a class="card-link btn" href="{{ path('sinonimo_index') }}">Lista de Sinonimos</a>
            <button class="card-link btn btn-primary" type="submit">
                <i class="fa fa-save"></i> Guardar
            </button>
            <a class="card-link btn btn-danger" href="{{ path('sinonimo_delete', { 'id': sinonimo.id }) }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Eliminar</a>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}