{% extends 'SubstanceBundle:Sinonimo:base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item"><a href="{{ path('sinonimo_index') }}">Sinónimos</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Nuevo Sinónimo</h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="card-link btn" href="{{ path('sinonimo_index') }}">Lista de Sinónimos</a>
            <input class="card-link btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
