{% extends 'base.html.twig' %}

{% block body %}
    <h1>Droguero</h1>

    <table>
        <tbody>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if droguero.fechaIngreso %}{{ droguero.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ droguero.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ droguero.longitud }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ droguero.id }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ droguero.detalle }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ droguero.image }}</td>
            </tr>
            <tr>
                <th>Imagemime</th>
                <td>{{ droguero.imageMime }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ droguero.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('droguero_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('droguero_edit', { 'id': droguero.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
