{% extends 'UnityBundle:Tipos:base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('unidades_index') }}">Unidades</a></li>
        <li class="breadcrumb-item"><a href="{{ path('tipo_index') }}">Tipos</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nuevo Tipo de Unidad</h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="card-link btn" href="{{ path('tipo_index') }}">Lista de Tipos</a>
            <input  class="btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}

            </div>
    </div>
{% endblock %}
