{% extends 'UnityBundle:Tipos:base.html.twig' %}

{% set pageTitle = "Tipo de Unidad" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('unidades_index') }}">Unidades</a></li>
        <li class="breadcrumb-item"><a href="{{ path('tipo_index') }}">Tipos</a></li>
        <li class="breadcrumb-item">{{ tipo.nombre }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ver Tipo de Unidad</h4>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ tipo.nombre }}</td>
                </tr>
                <tr>
                    <th>Detalle</th>
                    <td>{{ tipo.detalle }}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-secondary" href="{{ path('tipo_index') }}">Lista de Tipos</a>
            <a class="btn btn-info" href="{{ path('tipo_edit', { 'id': tipo.id }) }}">Editar</a>
        </div>
    </div>
{% endblock %}
