{% import 'sidebar/navitems.html.twig' as navitems %}
<nav>
    <ul>
        {% if app.user is null %}

        {% elseif app.user.isAdmin %}
            {{ navitems.item('drug_drogueros_index', 'Drogueros', 'archive') }}
            {{ navitems.item('users_index', 'Usuarios', 'users') }}
            {{ navitems.item('sustancias_index', 'Sustancias', 'flask') }}
            <li class="nav-small-cap">Configuración</li>
            {{ navitems.item('tipo_index', 'Tipos de Unidades', 'calendar') }}
            {{ navitems.item('unidades_index', 'Unidades Ejecutoras', 'calendar') }}
            {{ navitems.item('lugares_fisicos_index', 'Lugares Físicos', 'map-marker') }}
            {{ navitems.item('calidades_index', 'Calidades', 'star') }}
            {{ navitems.item('clases_sustancias_index', 'Clases de Sustancias', 'free-code-camp') }}
            {{ navitems.item('sinonimo_index', 'Sinónimos', 'book') }}
            {{ navitems.item('entidades_index', 'Entidades Reguladoras', 'graduation-cap') }}
            {{ navitems.item('motivo_index', 'Motivo de Movimiento', 'handshake-o') }}
        {% else %}
            {{ navitems.item('drug_drogueros_index', 'Mis Drogueros', 'archive') }}
        {% endif %}
    </ul>
</nav>