{% import 'sidebar/navitems.html.twig' as navitems %}
<nav>
    <ul>
        {{ navitems.item('unidades_index', 'Unidades Ejecutoras', 'calendar') }}
        {{ navitems.item('tipo_index', 'Tipos de Unidades', 'calendar') }}
        {{ navitems.item('lugares_fisicos_index', 'Lugares Físicos', 'map-marker') }}
        {{ navitems.item('unidades_index', 'Usuarios', 'users', 'zzz') }}
        {{ navitems.item('clases_sustancias_index', 'Clases de Sustancias', 'free-code-camp') }}
        {{ navitems.item('motivo_index', 'Motivo de Movimiento', 'handshake-o') }}
        {{ navitems.item('unidades_medidas_index', 'Unidades de Medida', 'thermometer-half') }}
        {{ navitems.item('entidades_index', 'Entidades Reguladoras', 'graduation-cap') }}
    </ul>
</nav>