{% extends 'SubstanceBundle:Entidad:base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item active">Entidades Reguladoras</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">
                Lista de Entidades
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href="{{ path('entidades_new') }}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Agregar
                    </a>
                </div>
            </h4>
        </div>
        <div class="card-block">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Detalle</th>
                    <th>Fecha de Ingreso</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entidadReguladora in entidades %}
                    <tr>
                        <td>{{ entidadReguladora.nombre }}</td>
                        <td>{{ entidadReguladora.detalle }}</td>
                        <td>{% if entidadReguladora.fechaIngreso %}{{ entidadReguladora.fechaIngreso| date("d/m/Y") }}{% endif %}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ path('entidades_edit', { 'id': entidadReguladora.id }) }}"
                                   class="btn btn-outline-info"><i
                                            class="fa fa-pencil" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
