{% extends 'SubstanceBundle:Entidad:base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item"><a href="{{ path('entidades_index') }}">Entidades Reguladoras</a></li>
        <li class="breadcrumb-item active">Entidades Reguladoras</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Entidad Reguladora</h4>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entidad.nombre }}</td>
                </tr>
                <tr>
                    <th>Detalle</th>
                    <td>{{ entidad.detalle }}</td>
                </tr>
                <tr>
                    <th>Fechaingreso</th>
                    <td>{% if entidad.fechaIngreso %}{{ entidad.fechaIngreso|date('d/m/Y H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-secondary" href="{{ path('entidades_index') }}">Lista de Entidades</a>
            <a class="btn btn-info" href="{{ path('entidades_edit', { 'id': entidad.id }) }}">Editar</a>
        </div>
    </div>
{% endblock %}
