{% extends "SubstanceBundle:Clase:base.html.twig" %}

{#% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sustancias_index') }}">Sustancias</a></li>
        <li class="breadcrumb-item"><a href="{{ path('clases_sustancias_index') }}">Clases de Sustancias</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
    </ol>
{% endblock %}

{% block content %}

    <form id="form" action="{{ path('clases_sustancias_create') }}" method="post">
        <div class="row">
            <div class="col col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nueva Clase</h4>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="detalle">Detalle</label>
                            <textarea name="detalle" class="form-control" id="detalle" rows="3"></textarea>
                        </div>
                        <a class="btn card-link" href="{{ path('clases_sustancias_index') }}">Lista de Clases</a>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>

            </div>
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incompatibilidades</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>Fecha de Ingreso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for clase in clases %}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input name="incompatibilidades[]" class="form-check-input"
                                                       type="checkbox" value="{{ clase.id }}">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ path('clases_sustancias_show', { 'id': clase.id }) }}">{{ clase.nombre }}</a>
                                    </td>
                                    <td>{{ clase.sysDate | date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
    <script>
        $.validator.addMethod("nonNumeric", function (value, element) {
            return this.optional(element) || isNaN(Number(value));
        });

        $('#form').validate({
            rules: {
                nombre: {
                    required: true,
                    nonNumeric: true,
                },
                detalle: {
                    nonNumeric: true,
                }
            },
            messages: {
                nombre: {
                    required: "Ingrese un nombre",
                    nonNumeric: "El nombre debe ser texto",
                },
                detalle: {
                    nonNumeric: "El detalle debe ser texto",
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-warning');
                $(element).addClass('form-control-warning');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-warning');
                $(element).removeClass('form-control-warning');
                $(element).closest('.form-group').addClass('has-success');
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        })
    </script>
{% endblock %}
