{% extends 'MovementBundle:Motivo:base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Movimientos</li>
        <li class="breadcrumb-item"><a href="{{ path('motivo_index') }}">Motivos</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Nuevo Motivo</h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="card-link btn" href="{{ path('motivo_index') }}">Lista de Motivos</a>
            <input class="btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
    <script>
        $.validator.addMethod("nonNumeric", function (value, element) {
            return this.optional(element) || isNaN(Number(value));
        });

        $('#sid_api_movementbundle_motivo').validate({
            rules: {
                nombre: {
                    required: true,
                    nonNumeric: true,
                },
                sid_api_movementbundle_motivo_detalle: {
                    nonNumeric: true,
                },
            },
            messages: {
                nombre: {
                    required: "Ingrese un nombre",
                    nonNumeric: "El nombre debe ser texto",
                },
                sid_api_movementbundle_motivo_detalle: {
                    nonNumeric: "El detalle debe ser texto",
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-warning');
                $(element).addClass('form-control-warning');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-warning');
                $(element).removeClass('form-control-warning');
                $(element).closest('.form-group').addClass('has-success');
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        })
    </script>
{% endblock %}
