{% extends "DrugBundle:Droguero:base.html.twig" %}

{#% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('drug_drogueros_index') }}">Drogueros</a></li>
        {% for place in division.path %}
            {% if loop.last %}
                <li class="breadcrumb-item active">{{ place }}</li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ path('drug_drogueros_division_show', {'droguero': place.droguero.id, 'division': place.id}) }}">
                        {{ place }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}

    {% if is_granted('config', division.droguero) %}
        <div class="card">
            <div class="card-block">
                <div class="card-title">Panel de Control</div>
                <a class="card-link btn btn-primary"
                   href="{{ path('drug_drogueros_division_new', {'droguero': division.droguero.id, 'division': division.id}) }}">Agregar
                    Subdivisi贸n</a>

                <a class="card-link btn btn-info"
                   href="{{ path('drug_drogueros_stock_add', {'droguero': division.droguero.id, 'division': division.id}) }}">
                    Ingresar Stock</a>

            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for subdivision in division.subdivisiones %}
            <div class="col col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ subdivision.nombre }}</h4>

                        <div class="btn-group" role="group" aria-label="Subdivisi贸n">
                            <a href="{{ path('drug_drogueros_division_show', {'droguero': division.droguero.id, 'division': subdivision.id}) }}"
                               class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ingresar"><i
                                        class="fa fa-sign-in" aria-hidden="true"></i>
                            </a>
                            {% if is_granted('config', division.droguero) %}
                                <a class="btn btn-warning" data-toggle="tooltip"
                                   title="Editar" data-placement="top"
                                   href="{{ path('drug_drogueros_division_edit', {'droguero': subdivision.droguero.id, 'division': subdivision.id}) }}"
                                >
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Stocks</h4>
        </div>
        <div class="card-block">
            <table class="table table-hover stocks">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Formula</th>
                    <th>Cantidad</th>
                    <th>Fecha de Ingreso</th>
                    <th>Camino</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in division.allStocks | sort %}
                    <tr>
                        <td>
                            <a href="{{ path('drug_drogueros_stock_show', {'stock': stock.id}) }}">{{ stock.droga.nombre }}</a>
                        </td>
                        <td>{{ stock.droga.formulaMolecular }}</td>
                        <td>{{ stock.cantidad }} {{ stock.unidadMedida.sigla }}</td>
                        <td>{{ stock.fechaIngreso | date('d/m/Y') }}</td>
                        <td>
                            <ol class="breadcrumb">
                                {% for place in stock.division.path %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('drug_drogueros_division_show', {'droguero': place.droguero.id, 'division': place.id}) }}">
                                            {{ place }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ path('drug_drogueros_stock_show', {'stock': stock.id}) }}"
                                   class="btn btn-warning" data-toggle="tooltip" data-placement="top"
                                   title="Informaci贸n"><i class="fa fa-info" aria-hidden="true"></i></a>
                                {% if is_granted('movement', division.droguero) %}
                                    {% if stock.isActive %}
                                        <a href="{{ path('drug_drogueros_stock_movement', { 'stock': stock.id }) }}"
                                           class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                           title="Mover">
                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ path('drug_drogueros_stock_extract', { 'stock': stock.id }) }}"
                                           class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                           title="Extraer">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        </a>
                                    {% elseif stock.extraccionActiva.usuario.id == app.user.id %}
                                        <a href="{{ path('drug_drogueros_stock_movement', { 'stock': stock.id }) }}"
                                           class="btn btn-success" data-toggle="tooltip" data-placement="top"
                                           title="Devolver">
                                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top"
                                           title="Stock en posesi贸n de {{ stock.extraccionActiva.usuario }}">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            <div class="alert alert-info" role="alert">
                                <strong>Info!</strong> No hay stocks cargados.
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
