{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ calidad.nombre }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ calidad.detalle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('calidades_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('calidades_edit', { 'id': calidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
