{% extends "DrugBundle:Lugar:base.html.twig" %}

{#% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Drogueros</li>
        <li class="breadcrumb-item"><a href="{{ path('lugares_fisicos_index') }}">Lugares Fisicos</a></li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Editar Lugar</h4>

            <form id="form" action="{{ path('lugares_fisicos_update', {'id': lugar.id}) }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="nombre" value="{{ lugar.nombre }}">
                </div>
                <div class="row">
                    <div class="form-group col col-sm-6">
                        <label for="lat">Latitud</label>
                        <input name="lat" type="text" class="form-control" id="lat" value="{{ lugar.latitud }}">
                    </div>
                    <div class="form-group col col-sm-6">
                        <label for="long">Longitud</label>
                        <input name="long" type="text" class="form-control" id="long" value="{{ lugar.longitud }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label>
                    <input name="image" type="file" class="form-control-file" id="image" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Imagen del lugar</small>
                </div>
                <div class="form-group">
                    <label for="detalle">Detalle</label>
                    <textarea name="detalle" class="form-control" id="detalle" rows="3">{{ lugar.detalle }}</textarea>
                </div>
                <a class="btn card-link" href="{{ path('lugares_fisicos_index') }}">Lista de Lugares</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/jquery.validate.js') }}"></script>
    <script>
        $.validator.addMethod("nonNumeric", function (value, element) {
            return this.optional(element) || isNaN(Number(value));
        });

        $('#form').validate({
            rules: {
                nombre: {
                    required: true,
                    nonNumeric: true,
                },
                detalle: {
                    nonNumeric: true,
                },
            },
            messages: {
                nombre: {
                    required: "Ingrese un nombre",
                    nonNumeric: "El nombre debe ser texto",
                },
                detalle: {
                    nonNumeric: "El detalle debe ser texto",
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-warning');
                $(element).addClass('form-control-warning');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-warning');
                $(element).removeClass('form-control-warning');
                $(element).closest('.form-group').addClass('has-success');
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        })
    </script>
{% endblock %}