{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unidadejecutora</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unidadEjecutora.id }}</td>
            </tr>
            <tr>
                <th>Cufe</th>
                <td>{{ unidadEjecutora.cufe }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ unidadEjecutora.detalle }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ unidadEjecutora.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unidadejecutora_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('unidadejecutora_edit', { 'id': unidadEjecutora.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
