{% extends 'comprobante/base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('proveedores_provider_index') }}">Proveedores</a></li>
        <li class="breadcrumb-item active">Comprobantes</li>
    </ol>
{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Listado de Comprobantes
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('comprobantes_provider_new') }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Agregar
                </a>
            </div>
        </h4>
    </div>
    <div class="card-body">

        <table class="table table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comprobante in comprobantes %}
            <tr>
                <td><a href="{{ path('comprobantes_provider_show', { 'id': comprobante.id }) }}">{{ comprobante.numero }}</a></td>
                <td>{% if comprobante.fecha %}{{ comprobante.fecha|date('d/m/Y H:i') }}{% endif %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('comprobantes_provider_show', { 'id': comprobante.id }) }}" class="btn btn-warning"><i class="fa fa-info" aria-hidden="true"></i></a>
                        <a href="{{ path('comprobantes_provider_edit', { 'id': comprobante.id }) }}" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
