{% extends 'comprobante/base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('proveedores_provider_index') }}">Proveedores</a></li>
        <li class="breadcrumb-item"><a href="{{ path('comprobantes_provider_index') }}">Comprobantes</a></li>
        <li class="breadcrumb-item active">{{ comprobante.numero }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body row-details">
            <h4 class="card-title">Comprobante</h4>

            <div class="row">
                <div class="col col-sm-4">Número:</div>
                <div class="col col-sm-8">{{ comprobante.numero }}</div>
            </div>
            <div class="row">
                <div class="col col-sm-4">Fecha:</div>
                <div class="col col-sm-8">{% if comprobante.fecha %}{{ comprobante.fecha|date('d/m/Y H:i') }}{% else %} - {% endif %}</div>
            </div>
            <div class="row">
                <div class="col col-sm-4">Proveedor:</div>
                <div class="col col-sm-8">{{ comprobante.proveedor | default('-') }}</div>
            </div>
            <div class="row">
                <div class="col col-sm-4">Típo:</div>
                <div class="col col-sm-8">{{ comprobante.tipo | default('-') }}</div>
            </div>
        </div>
    </div>
{% endblock %}