{% extends 'UnityBundle:Unidades:layout.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('unidades_index') }}">Unidades</a></li>
        <li class="breadcrumb-item"><a href="{{ path('unidades_show', { 'id': unidadEjecutora.id }) }}">{{ unidadEjecutora.nombre }}</a></li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Editar Unidad</h4>
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Editar" />
            {{ form_end(edit_form) }}
            <a href="{{ path('unidades_index') }}">Lista de Unidades</a>
        </div>
    </div>
{% endblock %}
