{% extends 'UnityBundle:Unidades:base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('unidades_index') }}">Unidades</a></li>
        <li class="breadcrumb-item"><a href="{{ path('unidades_show', { 'id': unidadEjecutora.id }) }}">{{ unidadEjecutora.nombre }}</a></li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Editar Unidad</h4>
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}<a class="card-link btn" href="{{ path('unidades_index') }}">Lista de Unidades</a>
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i> Guardar
            </button>
            <a class="btn btn-danger" href="{{ path('unidades_delete', { 'id': unidadEjecutora.id }) }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Eliminar</a>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
