{% extends 'UnityBundle:Unidades:base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('unidades_index') }}">Unidades</a></li>
        <li class="breadcrumb-item active">Nueva</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Nueva Unidad</h4>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Agregar" />
        {{ form_end(form) }}

        <a href="{{ path('unidades_index') }}">Lista de Unidades</a>
    </div>
</div>
{% endblock %}
